<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" verbose="3" preserve-order="true">
    <test  name="Login Tests" enabled ="true">
        <classes>
            <class name="test.LoginTest"/>
        </classes>
    </test>
    <test  name="Search Tests" enabled ="true">
        <classes>
            <class name="test.SearchTest"/>
        </classes>
    </test>
</suite>